.searchMainArea{
    position: absolute;
    display: block;
    z-index: 3;
    text-align: center;
    top: 7rem;
    left: 50%;
    margin: 0px -205px 0px -220px;
}

.searchInputArea{
    display: flex;
    width: 150%;
    height: 3rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 8px 2px gray;
    background: white;
}

#searchKeyword {
    display: flex;
    margin-left: 40px;
    margin-right: 15px;
    width: 77%;
    height: 82%;
    font-size: 16px;
    border: white;
    margin-top: 3px;
}
#searchKeyword:focus { outline: none;}

.btn_search {display: flex; width: 3.2rem; height: 3rem; border: 0px; border-radius: 0px 1.5rem 1.5rem 0;}
.btn_search > .ico_btn_search_svg{margin: 6px 0px 0px 2px;}
.btn_search > .ico_btn_search_svg > img { width: 1.7rem; height: 1.7rem;}
.btn_search:hover{background-color: lightgray;cursor: pointer;}

#navArea{
    position: fixed;
    width: 4rem;
    height: 30%;
    right: 25px;
    bottom: 11rem;
    z-index: 2;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 8px 3px -3px gray;
}

.wrap{padding:10px;}

.btn_open{font-weight:bold; margin:5px; padding:4px 6px; background:#000; color:#fff;}
.pop_wrap{position:absolute; z-index:3; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.5); font-size:0; text-align:center; }
.pop_wrap:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
.pop_wrap .pop_inner{
    display: inline-block;
    padding: 20px 30px;
    background-color: rgba(87, 56, 45, 1);
    box-shadow: 0px 0px 10px 1px  black;
    width: 25rem;
    vertical-align: middle;
    font-size: 15px;
    height: 30rem;
    border-radius: 2rem;
}

#closeLoginPopupImg{width: 2rem;height: 2rem;float: right;cursor: pointer;}

.logoArea{height: 35%;padding-top: 10%;}
.logoArea > img {width: 8rem; height: 8rem;}
.textArea{height: 25%;}
.textArea > span {color: #fff;font-weight: 500;}

#googleLoginBtn{width: 21.5rem;}


#profilePopArea{
    z-index: 4;
    position: absolute;
    background-color: white;
    width: 15rem;
    height: 15rem;
    right: 1rem;
    top: 4.8rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 5px 0px grey;
}

#profilePopAngcle{
    position: absolute;
    z-index: 4;
    width: 0;
    height: 0;
    border-bottom: 12px solid white;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    right: 1.7rem;
    top: 3.4rem;
}

#profileDiv{
    border-bottom: 1px solid lightgray;
    padding: 14px;
    height: 2.5rem;
}

#nicknameSpan{
    display: block;
    padding: 0px 8px 5px 8px;
    font-size: smaller;
    font-weight: bolder;
    color: gray;
}

#emailSpan{
    display: block;
    padding: 0px 8px 0px 8px;
    font-size: smaller;
    font-weight: bolder;
    color: gray;
}

#menuArea{
    border-bottom: 1px solid lightgray;
    height: 7rem;
}

#logoutArea{
    padding: 15px 8px 8px 8px;
    font-size: smaller;
    font-weight: bolder;
    color: gray;
}

#logoutArea > #logout {
    display: inline;
    padding: 3px 0px 0px 8px;
    border: 0px;
    background: white;
    font-size: unset;
    font-weight: 500;
    color: gray;
    cursor: pointer;
}

#searchKeywordArea{
    display: flex;
    /*width: 150%;*/
}

.searchInputArea #keywordDiv {
    width: 100%;
    display: inline-grid;
}

.searchInputArea ul{
    width: 100%;
    padding : 0px;
    margin: 1px;
}

.searchInputArea ul li {
    display: inline-grid;
    max-width: 10rem;
    height: 2.2rem;
    background: goldenrod;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px lightgray;
}
.searchInputArea ul li.on{
    background: rgba(87, 56, 45, 1);
}

.searchInputArea ul li p {
    padding: 4px 10px 4px 10px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 10rem;
    color: white;
    line-height: 22px;
    font-size: xx-small;
}

.detailCafeInfo{
    display: none;
    position: absolute;
    z-index: 3;
    background-color: white;
/*    width : 32rem;*/
    height: 90%;
    box-shadow: 0px 1px 2px #888;
}

.detailCafeInfo .cafeTitleArea {
    display: grid;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    background-color: goldenrod;
}

.detailCafeInfo .cafeTitleArea .titleArea{
    display: flex;
}

.detailCafeInfo .cafeTitleArea .titleArea .thumnail{
    width: 7rem;
}

.detailCafeInfo .cafeTitleArea .title .placeName{
    display: inline;
    font-size: inherit;
    font-weight: 800;
    padding-left: 1rem;
}
.detailCafeInfo .cafeTitleArea .title .roadAddressName{padding-left: 1rem; margin-top: 1rem; font-size: smaller;}
.detailCafeInfo .cafeTitleArea .title .phone{padding-left: 1rem;font-size: smaller;}

.cafeTitleArea .close {position: absolute;top:20px;right: 25px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.cafeTitleArea .close:hover {cursor: pointer;}

.wrap {position: absolute;
    left: 0;
    bottom: 40px;
    width: 288px;
    height: 120px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}
.wrap * {padding: 0;margin: 0;}
.wrap .overlay_info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .overlay_info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.overlay_info .title {padding: 5px 0 0 10px;height: 30px;background: rgba(87, 56, 45, 1);;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.overlay_info .title{color: white; font-size: small;}
.overlay_info .close {position: absolute;top: 19px;right: 20px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png'); background-color: white;}
.overlay_info .close:hover {cursor: pointer;}
.overlay_info .body {position: relative;overflow: hidden;}
.overlay_info .desc {position: relative;margin: 30px 0 0 1px;height: 75px;font-size: smaller;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.overlay_info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.overlay_info:after {content: '';position: absolute;margin-left: -21px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.overlay_info .link {color: #5085BB;}
.overlay_info .thumbnail{width: 4rem; height: 4rem; margin: 1rem;}

.Shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 449px;
    z-index: 20;
    height: 100%;
}

.Shadow .bar {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    height: 100%;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/shadow/map_shadow.png) repeat-y;
}

.Shadow .toggle {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 28px;
    height: 66px;
    background-position: 0 -60px;
    font-size: 0;
    line-height: 0;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/shadow/img_navi.png);
    text-indent: -9999px;
    cursor: pointer;
}

.Shadow .toggle.on{
    left: 0;
    margin: auto;
    width: 22px;
    height: 54px;
    background-position: 0 -192px;
}