.searchMainArea{
    position: absolute;
    display: block;
    z-index: 2;
    text-align: center;
    top: 7rem;
    left: 50%;
    margin: 0px -205px 0px -220px;
}

.searchInputArea{
    display: flex;
    width: 150%;
    height: 3rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 8px 2px gray;
    background: white;
}

#searchKeyword {
    display: flex;
    margin-left: 40px;
    margin-right: 15px;
    width: 77%;
    height: 82%;
    font-size: 16px;
    border: white;
    margin-top: 3px;
}
#searchKeyword:focus { outline: none;}

.btn_search {display: flex; width: 3.2rem; height: 3rem; border: 0px; border-radius: 0px 1.5rem 1.5rem 0;}
.btn_search > .ico_btn_search_svg{margin: 6px 0px 0px 2px;}
.btn_search > .ico_btn_search_svg > img { width: 1.7rem; height: 1.7rem;}
.btn_search:hover{background-color: lightgray;cursor: pointer;}

#navArea{
    position: fixed;
    width: 4rem;
    height: 30%;
    right: 25px;
    bottom: 11rem;
    z-index: 2;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 8px 3px -3px gray;
}

.wrap{padding:10px;}

.btn_open{font-weight:bold; margin:5px; padding:4px 6px; background:#000; color:#fff;}
.pop_wrap{position:absolute; z-index:3; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.5); font-size:0; text-align:center; }
.pop_wrap:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
.pop_wrap .pop_inner{
    display: inline-block;
    padding: 20px 30px;
    background-color: rgba(87, 56, 45, 1);
    box-shadow: 0px 0px 10px 1px  black;
    width: 25rem;
    vertical-align: middle;
    font-size: 15px;
    height: 30rem;
    border-radius: 2rem;
}

#closeLoginPopupImg{width: 2rem;height: 2rem;float: right;cursor: pointer;}

.logoArea{height: 35%;padding-top: 10%;}
.logoArea > img {width: 8rem; height: 8rem;}
.textArea{height: 25%;}
.textArea > span {color: #fff;font-weight: 500;}

#googleLoginBtn{width: 21.5rem;}


#profilePopArea{
    z-index: 4;
    position: absolute;
    background-color: white;
    width: 15rem;
    height: 15rem;
    right: 3rem;
    top: 4.8rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 5px 0px grey;
}

#profilePopAngcle{
    position: absolute;
    z-index: 4;
    width: 0;
    height: 0;
    border-bottom: 12px solid white;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    right: 3.7rem;
    top: 3.4rem;
}

#profileDiv{
    border-bottom: 1px solid lightgray;
    padding: 14px;
    height: 2.5rem;
}

#nicknameSpan{
    display: block;
    padding: 0px 8px 5px 8px;
    font-size: smaller;
    font-weight: bolder;
    color: gray;
}

#emailSpan{
    display: block;
    padding: 0px 8px 0px 8px;
    font-size: smaller;
    font-weight: bolder;
    color: gray;
}

#menuArea{
    border-bottom: 1px solid lightgray;
    height: 7rem;
}

#logoutArea{
    padding: 15px 8px 8px 8px;
    font-size: smaller;
    font-weight: bolder;
    color: gray;
}

#logoutArea > #logout {
    display: inline;
    padding: 3px 0px 0px 8px;
    border: 0px;
    background: white;
    font-size: unset;
    font-weight: 500;
    color: gray;
    cursor: pointer;
}

#searchKeywordArea{
    display: flex;
    /*width: 150%;*/
}

.searchInputArea #keywordDiv {
    width: 100%;
    display: inline-flex;
}

.searchInputArea ul{
    width: 100%;
    padding : 0px;
}

.searchInputArea ul li {
    display: inline-grid;
    max-width: 6rem;
    height: 2.2rem;
    background: goldenrod;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px lightgray;
}

.searchInputArea ul li p {
    padding: 4px 10px 4px 10px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 10rem;
}
