<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="detailArea" tabindex="3">
    <ul>
        <li style="
">
            <img style="width: 8.4rem;" src="https://search2.kakaocdn.net/argon/130x130_85_c/HE1h6RYd9Cs">
        </li>
        <li style="margin: 0px 10px 0px 10px;">
            <img style="width: 8.4rem;" src="https://search2.kakaocdn.net/argon/130x130_85_c/HE1h6RYd9Cs">
        </li>
        <li style="
">
            <img style="width: 8.4rem;" src="https://search2.kakaocdn.net/argon/130x130_85_c/HE1h6RYd9Cs">
        </li>
    </ul>
</div>
</html>