<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>유일무이</title>
    <!-- styles -->
    <link rel="stylesheet" href="resources/css/common/common.css" />
    <link rel="stylesheet" href="resources/css/main.css"/>
    <!-- scripts-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ffb91c5a6ff0bf7cef8bbea6c72cd221"></script>
    <!-- services 라이브러리 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ffb91c5a6ff0bf7cef8bbea6c72cd221&libraries=services"></script>
    <script type="text/javascript" src="resources/js/common/jQuery/jquery-3.7.1.js"></script>
    <script type="text/javascript" src="resources/js/index.js"></script>
    <script type="text/javascript" src="resources/js/login/login.js"></script>
</head>
<body>
    <diV th:if="${session.userInfo} != null " id="profilePopAngcle" style="display: none;"></diV>
    <div th:if="${session.userInfo} != null " id="profilePopArea" style="display: none;">
        <div id="profileDiv">
            <div>
                <span id="nicknameSpan" th:text="${session.userInfo['nickname']}"></span>
                <span id="emailSpan" th:text="${session.userInfo['email']}"></span>
            </div>
        </div>
        <div id="menuArea">

        </div>
        <div id="logoutArea">
            <button id="logout">
                <span>로그아웃</span>
            </button>
        </div>
    </div>
    <div class="searchMainArea">
        <div class="searchInputArea">
            <input type="text" id="searchKeyword" name="keyword">
                <button type="button" class="btn_search">
                    <span class="ico_btn_search_svg">
                        <img src="resources/images/search/search.png">
                    </span>
                </button>
            </input>
        </div>
    </div>
    <div class="searchMainArea" style="top: 11rem;
        width: 32rem;
        height: 7rem;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
    ">
        <div class="searchInputArea" style="width: 100%;
             width: 100%;
            text-align: center;
            align-items: center;
            background-color: white;
            box-shadow: none;
            display: contents;
            height: 100rem;
        ">
            <div id="keywordDiv">
                <ul>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                </ul>
                <ul>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                </ul>
                <ul>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                </ul>
                <ul>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                </ul>
                <ul>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                </ul>
                <ul>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                </ul>
                <ul>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                </ul>
                <ul>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                </ul>
                <ul>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                </ul>
                <ul>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                    <li><p></p></li>
                </ul>
            </div>
        </div>
        <div class="searchInputArea" style="
            box-shadow: unset;
            background-color: unset;
            width: 0;
            position: absolute;
            z-index: 5;
            right: -8px;
            display: grid;
            top: 0px;
            ">
            <img src="resources/images/cancel.png" style="
                    width: 2rem;
                    height: 2rem;
                    background-color: white;
                    border-radius: 10rem;
                    box-shadow: 0px 0px 1px 1px gray;
                    cursor: pointer;
            ">
        </div>
    </div>
    <div style="width: 100%; height: 100%; position: absolute;">
        <div class="header">
            <div style="height: 100%;">
                <img id="logo" src="resources/images/logo.png"/>
                <div class="headerBtnArea">
                    <div class="loginArea">
                        <div th:if="${session.userInfo} != null" style="display: flex;">
                            <div id="profileArea" style=" display: inline; width: 3rem; padding: -1px; margin-right: 1rem; cursor: pointer;">
                                <img th:src="${session.userInfo['thumbnail']}" style="border-radius: 66px; width: 3rem; height: 3rem; ">
                            </div>
                        </div>
                        <div th:if="${session.userInfo} == null" style="display: flex;">
                            <span class="loginBtn">로그인</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 카페 상세 정보 영역 Start -->
        <div class="detailCafeInfo">
            <div class="cafeTitleArea">
                <div class="titleArea">
                    <div style="display: inline;float: left;">
                        <img class="thumnail" src="" />
                    </div>
                    <div class="title" style="display: inline;">
                        <div class="placeName"></div>
                        <div class="close" title="닫기"></div>
                    </div>
                </div>
                <div style="display: flex; height: 4rem; margin-top: 1rem;">
                    <div style="width:9.6rem;"></div>
                    <div style="width:9.6rem;"></div>
                    <div style="width:9.8rem;"></div>
                </div>
            </div>
            <div class="cafeInfoArea">
                <div>
                </div>
            </div>
        </div>
        <!-- 카페 상세 정보 영역 End -->
        <!-- map 영역  Start -->
        <div id="map" style="width:100%; height: 90%;">

            <div id="navArea">
                <div style="height: 21%;text-align: center;/* margin-top: 0rem; */padding-top: 0px;">
                    <img src="resources/images/like_heart.png" style=" width: 3rem; height: 3rem;">
                </div>
                <div style="text-align: center;height: 12%;border-top: 1px solid lightgray;border-bottom: 1px solid lightgray;">
                    <span style="font-size: 9px;">최근 본 카페 </span>
                </div>
                <div style="height: 63%;overflow-y: auto;overflow-x: hidden;scrollbar-width: none;">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div id="myGpsBtn" style="">
                <img src="resources/images/rocation/my_gps.png" style="">
            </div>
        </div>
        <!-- map 영역  End -->
    </div>

    <!-- 로그인 팝업 (레이어 팝업 )-->
    <div id="loginPopup" class="pop_wrap" style="display:none;">
        <div class="pop_inner">
            <div style="width: 100%;height: 100%;">
                <div style="width:100%">
                    <span><img src="/resources/images/cancel.png" id="closeLoginPopupImg"></span>
                </div>
                <div class="logoArea">
                    <img src="../resources/images/logo.png">
                </div>
                <div class="textArea">
                    <span>
                        나도 모르는 유일무이한
                        <br>
                        카페 취향은?
                    </span>
                </div>
                <div style="width: 100%;height: 20%;">
                    <div style="display: grid; justify-items: center;">
                        <a th:href="@{https://kauth.kakao.com/oauth/authorize(client_id=${apiKey}, redirect_uri=${redirectUri}, response_type='code')}">
                            <img class="btn" id="kakaoLoginBtn" src="../resources/images/login/kakao_login_btn.png">
                        </a>
                        <a>
                            <img class="btn" id="googleLoginBtn" src="../resources/images/login/web_light_sq_ctn@3x.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>